@charset "utf-8";
@font-face {
	font-family: "Oxygen Light";
	src: url("Oxygen-Light.ttf");
}
body {
	margin: 0;
	padding: 0;
	font-family: "Oxygen Light";
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #fff;
	background-color: #000;
}
#container {
	width: 100%;
	height: 100%;
	display: table;
}
#content_{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 18pt;
}
#content{
	position: absolute;
	width: 750px;
	height: 30px;
	left: calc(50% - 375px);
	top: calc(70% + 80px);
	text-align: center;
}
#content table{
	width: 100%;
}
#hidden{
	display: none;
}
#webmail{
	position: absolute;
	width: 400px;
	height: 360px;
	left: calc(50% - 200px);
	top: calc(50% - 170px);
	text-align: center;
}
#webmail iframe{
	width: 400px;
	height: 340px;
	overflow: hidden;
	border: none;
}
#spotifysong {
	position: absolute;
	width: 400px;
	height: 476px;
	left: calc(50% - 200px);
	top: calc(50% - 300px);
	text-align: center;
	opacity: 0.8;
	transition: 0.4s;
}
#spotifysong:hover {
	opacity: 1.0;
}
#spotifysong iframe{
	border: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body a,a:link, a:visited{
	text-decoration: none;
	color: #fff;
	opacity: 0.8;
}
body a:hover {
	opacity: 1.0;
}
img {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	
}
#bg {
	position: absolute;
	width: 100%;
	height: 100%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
	z-index: -1;
}
.link{
	vertical-align: middle;
	font-size: 16pt;
	margin-right: 20px;
}
.link img{
	padding: 8px;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.link .fb{
	padding-top: 5px;
}
.bg-fade-in {
animation: fadeIn ease 30s;
-webkit-animation: fadeIn ease 30s;
-moz-animation: fadeIn ease 30s;
-o-animation: fadeIn ease 30s;
-ms-animation: fadeIn ease 30s;
}
.fade-in {
animation: fadeIn ease 10s;
-webkit-animation: fadeIn ease 10s;
-moz-animation: fadeIn ease 10s;
-o-animation: fadeIn ease 10s;
-ms-animation: fadeIn ease 10s;
}
.fade-in-short {
animation: fadeIn ease 2s;
-webkit-animation: fadeIn ease 2s;
-moz-animation: fadeIn ease 2s;
-o-animation: fadeIn ease 2s;
-ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
.loginlink{
	width: 100%;
	height: 100%;
	background: none;
}
.loginform{
	width: 100%;
	height: 100%;
}
#members{
	position: absolute;
	width: 12%;
    height: 30%;
    left: calc(77% - 40pt);
    top: 29.5%;
    text-align: center;
	min-width: 180pt;
}
#members input {
	height: 18pt;
	font-size: 12pt;
	padding: 6px;
	margin-bottom: 16pt;
	background-color: transparent;
	border: none;
	outline:none;
}
#members input, select, textarea, input::placeholder, input:focus, textarea:focus  {
	color: #fff;
}
#members input::placeholder {
	color: #fff;
	opacity: 0.8;
}
#members input[type="submit"]{
	line-height: 0;
}
#members p.nav {
	font-size: 12pt;
	line-height: 2pt;
}
#members table{
	width: 100%;
	height: 100%;
}
#members tr .maincontainer{
	height: 100%;
}
#gbcreatepostborder{
	position: absolute;
	top: 15%;
	left: 7.5%;
	background-color: #111;
	opacity: 0.8;
	width: 25%;
	height: 70%;
}
#gbcreatepost{
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: #333;
	width: calc(100% - 24px);
	height: calc(100% - 24px);
}
#gboutput{
	font-size: 14pt;
	position: absolute;
	top: calc(50% + 12pt);
	left: 7.5%;
	width: 25%;
	z-index: 10;
}
#gblatestpostborder{
	position: absolute;
	top: 15%;
	left: 37.5%;
	background-color: #111;
	opacity: 0.8;
	width: 25%;
	height: 70%;
}
#gblatestpost{
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: #333;
	width: calc(100% - 24px);
	height: calc(100% - 24px);
}
#gbrandpostborder{
	position: absolute;
	top: 15%;
	left: 67.5%;
	background-color: #111;
	opacity: 0.8;
	width: 25%;
	height: 70%;
}
#gbrandpost{
	position: absolute;
	top: 12px;
	left: 12px;
	background-color: #333;
	width: calc(100% - 24px);
	height: calc(100% - 24px);
}
#gbid{
	margin-top: calc(-50% - 138pt);
	font-size: 100pt;
	opacity: 0.05;
}
#gbname{
	margin-left: 12px;
	text-align: left;
	font-size: 24pt;
}
#gbnameinput{
	margin-left: 12px;
	margin-top: 9px;
	margin-bottom: -9px;
	text-align: left;
}
#gbmessage{
	margin-top: calc(50% + 28pt);
}
#gbtime{
	margin-top: calc(50% + 40pt);
}
#gbsubmit{
	margin-top: calc(50% + 36pt);
}
.gbid{
	margin-top: calc(-50% - 138pt);
	font-size: 100pt;
	opacity: 0.05;
}
th.gbname{
	padding-left: 10px;
	text-align: left;
	font-size: 24pt;
}
.gbnameinput{
	margin-left: 12px;
	margin-top: 9px;
	margin-bottom: -9px;
	text-align: left;
}
.gbmessage{
	margin-top: calc(50% + 28pt);
}
.gbtime{
	margin-top: calc(50% + 40pt);
}
.gbsubmit{
	margin-top: calc(50% + 36pt);
}
#content_ input{
	font-size: 16pt;
}
.nocti1{
	text-shadow: 0px 0px 16px;
}
